<!DOCTYPE html>
<html lang="en">

<head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {{- if eq .RelPermalink "/" -}}
      {{- .Site.Params.perusahaan -}}
    {{ else }}
      {{- .Title | humanize }} | {{ .Site.Params.perusahaan -}}
    {{- end -}}
    </title>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/vendors/bootstrap/bootstrap.min.css">

    <!-- Favicon -->
    <link rel="icon" href="{{ .Site.BaseURL }}assets/images/logo.png">

    <!-- My CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/main.css">

    <!-- SEO -->
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}{{ substr .RelPermalink 1  }}"/>
    <meta property="og:title" content="{{ if ne .Title .Site.Title }}{{ .Title | emojify }}{{ else }}{{ .Site.Title }}{{ end }}"/>
    <meta property="twitter:title" content="{{ if ne .Title .Site.Title }}{{ .Title | emojify }}{{ else }}{{ .Site.Title }}{{ end }}"/>
    <meta property="twitter:card" content="{{ with .Summary }}{{ . | emojify }}{{ end }}{{ with .Site.Params.deskripsi }} {{ . }}{{ end }}"/>
    <meta property="twitter:site" content="@{{ .Site.Params.siteName }}"/>
    <meta itemprop="name" content="{{ if ne .Title .Site.Title }}{{ .Title | emojify }} | {{ .Site.Params.perusahaan }}{{ else }}{{ .Site.Title }}{{ end }}"/>
    <meta name="application-name" content="{{ if ne .Title .Site.Title }}{{ .Title }} | {{ .Site.Params.perusahaan }}{{ else }}{{ .Site.Title }}{{ end }}"/>
    <meta property="og:site_name" content="{{ .Site.Params.siteName }}"/>
    <meta name="description" content="{{ with .Summary }}{{ . | emojify }}{{ end }}{{ with .Site.Params.deskripsi }} {{ . }}{{ end }}"/>
    <meta itemprop="description" content="{{ with .Summary }}{{ . | emojify }}{{ end }}{{ with .Site.Params.deskripsi }} {{ . }}{{ end }}"/>
    <meta property="og:description" content="{{ with .Summary }}{{ . | emojify }}{{ end }}{{ with .Site.Params.deskripsi }} {{ . }}{{ end }}"/>
    <meta property="twitter:description" content="{{ with .Summary }}{{ . | emojify }}{{ end }}{{ with .Site.Params.deskripsi }} {{ . }}{{ end }}"/>
    <meta name="url" content="{{ .Site.BaseURL }}"/>
    <meta property="og:url" content="{{ .Site.BaseURL }}"/>
    <meta property="twitter:url" content="{{ .Site.BaseURL }}"/>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <meta name="keywords" content="{{ .Site.Params.deskripsi | replaceRE " " ", " }}, {{ .Site.Params.keywordSEO }}"/>
    <meta property="og:type" content="website"/>
    <meta itemprop="image" content="{{ .Site.BaseURL }}assets/images/logo.png"/>
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/images/logo.png"/>
    <meta property="og:image:secure_url" content="{{ .Site.BaseURL }}assets/images/logo.png"/>
    <meta property="og:image:width" content="240"/>
    <meta property="og:image:height" content="240"/>
    <meta property="og:image:alt" content="{{ .Site.Params.perusahaan }} logo"/>
    <meta name="twitter:image" content="{{ .Site.BaseURL }}assets/images/logo.png"/>
    <meta name="twitter:image:src" content="{{ .Site.BaseURL }}assets/images/logo.png"/>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ .Site.BaseURL }}{{ substr .RelPermalink 1  }}",
        "name": "{{ .Title }}",
        "description": "{{ .Description | emojify }}",
        "alternateName": "{{ with .Summary }}{{ . }}{{ end }}{{ with .Site.Params.siteAbout }}{{ . }}{{ end }}",
        "logo": "{{ .Site.BaseURL }}logo.png",
        "image": {
          "@type": "imageObject",
          "url": "{{ .Site.BaseURL }}logo.png"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ .Site.Params.perusahaan }}",
          "logo": {
            "@type": "imageObject",
            "url": "{{ .Site.BaseURL }}logo.png"
          }
        },
      }
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-transparent py-4">
        <div class="container">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}assets/images/logo.png" class="logo-img">
                <span class="logo-text">Jasa <br> Wibucode.</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <img src="{{ .Site.BaseURL }}assets/images/bar.png" class="bar-btn navbar-toggler-icon" alt=""> -->
                <span class="navbar-toggler-icon"></span>
                <div class="close-icon py-1">✖</div>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link{{ if eq .RelPermalink "/" }} active{{ end }}" href="{{ .Site.BaseURL }}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Layanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Harga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{ if eq ( lower ( substr ( ( substr $.RelPermalink 0 -1 ) ) 1 ) ) ( lower .LinkTitle ) }} active{{ end }}" href="/page">Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

